# dependencies
node_modules/

# environments
.env
.env.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# system files
.DS_Store

# build directories
/frontend/dist/
/frontend/build/
/backend/dist/
/backend/build/
